<!-- New question page, create question -->
<div class="jumbrotron">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

    	<h1><span class="fa fa-edit"></span> <%= title %> </h1>

    	<!-- show any messages that come back with authentication -->

    	<!-- NEW QUESTION FORM -->
    	<form action="/question" method="post">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <textarea name="questions" cols=40 rows=6></textarea>

          </div>
        </div>

    		<button type="submit" class="btn btn-info btn-lg">Submit question</button>
    	</form>

    	<hr>

    </div>
  </div>
</div>
