<!-- New question page, create question -->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

    	<h1><span class="fa fa-pencil"></span> <%= title %> </h1>

    	<!-- show any messages that come back with authentication -->

    	<!-- NEW QUESTION FORM -->
    	<form action="/question" method="post">
        <div class="form-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
            <textarea name="questions" cols=76 rows=10></textarea>

        </div>

    		<button type="submit" class="btn btn-info btn-lg">
          <i class="fa fa-share fa-fw"></i> Share
        </button>
    	</form>

    	<hr>

    </div>
  </div>
</div>
