<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OFlo</title>
  </head>
  <body>
    <div class="home-wrapper">
      <h1><span class="fa fa-search"></span><%= title %></h1>

      <div class="btn-wrapper">
        <input class="btn btn-primary signup-btn" type="button" value="Sign up">
        <input class="btn btn-primary login-btn" type="button" value="Log In">
      </div>
    </div>
  </body>
</html>
