<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OFlo</title>
  </head>
  <body>

    <div class="home-wrapper">

      <h1><span class="fa fa-search"></span> <%= title %> </h1>

      <div class="btn-wrapper">
        <a class="btn btn-warning signup-btn"><span class="fa fa-user"></span>Sign Up</a>
        <a class="btn btn-info login-btn"><span class="fa fa-sign-in"></span>Log In</a>
      </div>

    </div>
  </body>
</html>
