<!-- ITA logged in homepage, show questions posted by students -->

<link href="/css/commonquestions.css" rel="stylesheet" type="text/css">
<div class="jumbotron">
  <!-- Dropdown menu -->
  <ul class="question-sort">
    <li class="btn-group">
      <a class="btn" href="#"><i class="fa fa-calendar-o fa-fw"></i> Date</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#"> Today</a></li>
        <li><a href="#"> Yesteday</a></li>
        <li><a href="#"> 3 days ago</a></li>
      </ul>
    </li>
  </ul>

  <!-- Question board -->
  <div class="">
    <div class="row questions-wrapper">

      <div class="col-md-8 col-md-offset-0 left-col">
        <div class="question-col">
          <h3>Questions</h3>
        </div>
        <div class="list-questions">
          <!-- <p>populate questions</p> -->
          <p><span id="comm-qtions"></span></p>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-0 right-col">
        <div class="studentname-col">
          <h3>Need help?</h3>
        </div>
        <div class="list-names">
          <p><span id="voting-options"></span></p>
          <!-- <p><span id="populate-votes"></span></p><br> -->
        </div>
      </div>

    </div>
  </div>
</div>
