<!-- ITA past common questions page -->

<div class="jumbotron">
  <!-- Dropdown menu -->
  <ul class="question-sort">
    <li class="btn-group">
      <a class="btn" href="#"><i class="fa fa-calendar-o fa-fw"></i> Date</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#"> Latest post</a></li>
      </ul>
    </li>
  </ul>

  <!-- Question list -->
  <div class="">
    <div class="row questions-wrapper">
      <!-- Question column -->
      <div class="col-md-6 col-md-offset-0 left-col">
        <div class="top-row">
          <h3>Questions</h3>
        </div>
        <div class="list-questions popup-div">
          <!-- populate questions -->
          <!-- Trigger modal -->
          <% include ../partials/modal.ejs %>
        </div>
      </div>
      <!-- Voting column -->
      <div class="col-md-2 col-md-offset-0 right-col">
        <div class="top-row">
          <h3>Voting open?</h3>
        </div>
        <div class="list-names">
          <p id="canvote-check"></p>
        </div>
      </div>
      <!-- Yes column -->
      <div class="col-md-1 col-md-offset-0 right-col">
        <div class="top-row">
          <h3>Yes</h3>
        </div>
        <div class="">
          <p>total</p>
        </div>
      </div>
      <!-- No column -->
      <div class="col-md-1 col-md-offset-0 right-col">
        <div class="top-row">
          <h3>No</h3>
        </div>
        <div class="">
          <p>total</p>
        </div>
      </div>
      <!-- Answered column -->
      <div class="col-md-2 col-md-offset-0 right-col">
        <div class="top-row">
          <h3>Answered?</h3>
        </div>
        <div class="list-names">
          <p id="answered-check"></p>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/js/commonquestions.js" charset="utf-8"></script> -->
