<!-- ITA past common questions page -->

<div class="jumbotron">
  <!-- Dropdown menu -->
  <ul class="question-sort">
    <li class="btn-group">
      <a class="btn" href="#"><i class="fa fa-calendar-o fa-fw"></i> Date</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#"> Latest post</a></li>
      </ul>
    </li>
  </ul>

  <!-- Question list -->
  <div class="">
    <div class="row questions-wrapper">
      <!-- Question column -->
      <div class="col-md-8 col-md-offset-0 left-col">
        <div class="question-col">
          <h3>Questions</h3>
        </div>
        <div class="list-questions">
          <p>populate questions</p>
        </div>
      </div>
      <!-- Voting column -->
      <div class="col-md-2 col-md-offset-0 right-col">
        <div class="studentname-col">
          <h3>Voting open?</h3>
        </div>
        <div class="list-names">
          <p>populate boolean</p>
        </div>
      </div>
      <!-- Answered column -->
      <div class="col-md-2 col-md-offset-0 right-col">
        <div class="studentname-col">
          <h3>Answered?</h3>
        </div>
        <div class="list-names">
          <p>populate boolean</p>
        </div>
      </div>

    </div>
  </div>
</div>
