/* HOME PAGE CSS */
@import "https://fonts.googleapis.com/css?family=Lobster+Two";

.home-wrapper {
  margin-top: 150px;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 0.3em;
}

.btn-wrapper {
  margin-top: 40px;
}

.signup-btn {
  margin-right: 10px;
  font-size: 1.3em;
  width: 88px;
}

.login-btn {
  margin-left: 10px;
  font-size: 1.3em;
  width: 88px;
}
