/* QUESTIONS CSS */

.question-sort {
  margin: 20px auto;
}

.questions-wrapper {
  border: 1px solid black;
}

.left-col {
  border-right: 1px solid black;
}

.right-col {
  border-left: 1px solid black;
}

.top-row {
  border-bottom: 3px solid black;
}
