/* QUESTIONS CSS */
.question-col{
  border-bottom: 3px solid black;
}

.studentname-col{
  border-bottom: 3px solid black;
}

.question-sort {
  margin: 20px auto;
}

.questions-wrapper {
  border: 1px solid black;
}

.qn-con{
  margin: 8px;
}

.left-col {
  border-right: 1px solid black;
}

.right-col {
  border-left: 1px solid black;
}

.top-row {
  border-bottom: 3px solid black;
}
