<li class="btn-group account-tab">
  <a class="btn account-field"> Welcome</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- <li><a href="#" class="to-user-edit"><i class="fa fa-user fa-fw"></i> Edit profile</a></li>
    <li><a href="#"><i class="fa fa-unlock fa-fw"></i> Make admin</a></li> -->
    <!-- <li class="divider"></li> -->
    <li><a href="#" class="logout-btn"><i class="fa fa-sign-out"></i> Log Out</a></li>
  </ul>
</li>
