<li class="btn-group commonq-tab">
  <a class="btn"><i class="fa fa-list-alt fa-fw"></i> Common Questions</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" class="to-commonquestions-new"><i class="fa fa-clone fa-fw"></i> Collate to common question</a></li>
    <li><a href="#" class="to-commonquestions-show"><i class="fa fa-search-plus fa-fw"></i> View my collates</a></li>
  </ul>
</li>
