<nav class="nav navbar-fixed-top navbar-inverse oflo-navbar">
  <!-- Link to home, root url -->
  <a href="#" class="navbar-brand oflo-logo">
    OFlo
  </a>
  <!-- Button nav on the right -->
  <ul class="nav navbar-nav navbar-right">
    <!-- Common question index tab -->
    <% include ./commonquestions_index_tab.ejs %>
    <!-- Question index tab -->
    <% include ./questions_index_tab.ejs %>
    <!-- Common question dropdown menu -->
    <% include ./commonquestions_tab.ejs %>
    <!-- Question dropdown menu -->
    <% include ./questions_tab.ejs %>
    <!-- Account dropdown menu -->
    <% include ./account_tab.ejs %>

  </ul>
</nav>
