<nav class="nav navbar-fixed-top navbar-inverse oflo-navbar">
  <!-- Link to home, root url -->
  <a href="#" class="navbar-brand oflo-logo">
    OFlo
  </a>
  <!-- Button nav on the right -->
  <ul class="nav navbar-nav navbar-right">
    <!-- Common question dropdown menu -->
    <li class="btn-group commonq-tab">
      <a class="btn"><i class="fa fa-list-alt fa-fw"></i> Common Questions</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" class="to-commonquestions-new"><i class="fa fa-clone fa-fw"></i> Collate to common question</a></li>
        <li><a href="#" class="to-commonquestions-show"><i class="fa fa-search-plus fa-fw"></i> View my collates</a></li>
        <li><a href="#" class="to-commonquestions"><i class="fa fa-eye fa-fw"></i> View all collations</a></li>
      </ul>
    </li>
    <!-- Question dropdown menu -->
    <li class="btn-group q-tab">
      <a class="btn"><i class="fa fa-list-alt fa-fw"></i> My Questions</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" class="to-questions-new"><i class="fa fa-pencil fa-fw"></i> Post a question</a></li>
        <li><a href="#" class="to-questions-show"><i class="fa fa-search-plus fa-fw"></i> View my questions</a></li>
        <li><a href="#" class="to-questions"><i class="fa fa-eye fa-fw"></i> View all questions</a></li>
      </ul>
    </li>
    <!-- Account dropdown menu -->
    <li class="btn-group account-tab">
      <a class="btn account-field"> Account</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" class="to-user-edit"><i class="fa fa-user fa-fw"></i> Edit profile</a></li>
        <li><a href="#"><i class="fa fa-unlock fa-fw"></i> Make admin</a></li>
        <li class="divider"></li>
        <li><a href="#" class="logout-btn"><i class="fa fa-sign-out"></i> Log Out</a></li>
      </ul>
    </li>
  </ul>
</nav>
