<nav class="nav navbar-fixed-top navbar-inverse">
  <!-- Link to home, root url -->
  <a href="/" class="navbar-brand">
    OFlo
  </a>
  <!-- Button nav on the right -->
  <ul class="nav navbar-nav navbar-right">
    <!-- Common question dropdown menu -->
    <li class="btn-group">
      <a class="btn" href="#"><i class="fa fa-list-alt fa-fw"></i> Common Questions</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/commonquestions/new"><i class="fa fa-clone fa-fw"></i> Collate to common question</a></li>
        <li><a href="/mycommonquestions"><i class="fa fa-search-plus fa-fw"></i> View my collates</a></li>
      </ul>
    </li>
    <!-- Question dropdown menu -->
    <li class="btn-group">
      <a class="btn" href="#"><i class="fa fa-list-alt fa-fw"></i> My Questions</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/questions/new"><i class="fa fa-pencil fa-fw"></i> Post a question</a></li>
        <li><a href="/myquestions"><i class="fa fa-search-plus fa-fw"></i> View my questions</a></li>
      </ul>
    </li>
    <!-- Account dropdown menu -->
    <li class="btn-group">
      <a class="btn" href="#"><i class="fa fa-user fa-fw"></i> Account</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/edit"><i class="fa fa-eye fa-fw"></i> Edit profile</a></li>
        <li><a href="#"><i class="fa fa-unlock fa-fw"></i> Make admin</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
      </ul>
    </li>
  </ul>
</nav>
