<li class="btn-group q-tab">
  <a class="btn"><i class="fa fa-list-alt fa-fw"></i> My Questions</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" class="to-questions-new"><i class="fa fa-pencil fa-fw"></i> Post a question</a></li>
    <li><a href="#" class="to-questions"><i class="fa fa-search-plus fa-fw"></i> View my questions</a></li>
  </ul>
</li>
